<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-multipath-tcp" version="0.1.0">
    <name>Multipath TCP</name>
    <description>
      Cordova plugin for connecting to an endpoint via cell network when connected to a WIFI network with limited/no connectivity.
    </description>
    <license>Apache 2.0</license>
    <keywords>cordova,multipath,tcp</keywords>
    <js-module src="www/multipathTCP.js" name="multipathTCP">
        <clobbers target="multipathTCP" />
    </js-module>
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
            <feature name="MultipathTCP">
                <param name="ios-package" value="CDVMultipathTCP"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVMultipathTCP.h" />
        <source-file src="src/ios/CDVMultipathTCP.m" />
    </platform>
</plugin>
